ul.nav.navbar-nav.navbar-center {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

img.img-responsive {
	margin-right: 20px;
	margin-bottom: 20px;
}

img.connect-pic {
	margin-left: 20px;
}

.panel.panel-default {
margin-left: 20px;
margin-top: 50px;
}

.piccontainer {
	margin-bottom: 20px;
}

.pic {
	position: relative;
	width: 200px;
	/*height: 200px;*/
}

img.app-pic {
	width: 100%;
}

/*.portfoliopic {
	width: 200px;
}*/

span {
	position: absolute;
	bottom: 10px;
	width: 100%;
	/*margin: 10px;*/
	background-color: #4aaaa5;
	color: #fff;
	padding: 10px;
}

.input-group {
	margin: 50px 0px;
	width: 100%;

}

.input-group-addon {
	margin: 30px 0px;
	width: 100%;
	
}